.menu {
    background: black;
    color: #fff;
    padding: 20px 20px;
}
#clear {
	color: red;
	margin-left: 30px;
	margin-top: 5px;
	font-size: 30px;
}
.nav-link {
    color: #fff;
}
.nav-link:hover {
	color: red;
}
.head {
    background: #2a2a2a;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
}
.heading {
    text-align: center;
    padding: 20px 30px;
    background: grey;
}
#logo {
	font-size: 50px;
}
.h3 {
    margin-top: 20px;
}
.feature {
    padding: 20px 20px;
    text-align: center;
}
#button:hover {
	background: grey;
}
.img {
	margin-top: 15px;
}
.touch {
    padding: 20px 30px;
    text-align: center;
    background: #2a2a2a;
    color: #fff;
}
#logo-touch {
	color: red;
}
#touch-logo {
	font-size: 30px;
	margin-top: 20px;
}
.footer {
    background: grey;
    padding: 20px;
    text-align: center;
    color: #fff;
}
